.card-lp-new {
  border-radius: 4px;
  margin: 20px auto;
  max-width: 275px;
  height: 250px;
  text-align: center;
  padding: 40px 0;
  // box-shadow: 3px 8px 10px #888888;
  background: white;
  color: #495057;
}

#step-one:hover, #step-one:active {
  color: white;
  background-color: #183059;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
}

#step-two:hover, #step-two:active {
  color: white;
  background-color: #FBA870;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
}

#step-three:hover, #step-three:active {
  color: white;
  background-color:#EA526F;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
}

#step-four:hover, #step-four:active {
  color: white;
  background-color:#8dc34a;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.479);
  }
}

.green-border {
  height: 1px;
  width: 70%;
  background-color: #8CC34A;
  margin-left: 15%;
}

h3 {
  padding: 0 !important;
  font-size: 30px;
}

.number-steps {
  font-size: 30px;
  padding: 0 20px;
}

.text-steps {
  text-align: center;
  padding: 5px 15%;
}

.active-card {
  background: #8CC34A;
  color: white;
}

.card-testimonial {
  background: white;
  border-radius: 4px;
  margin: 100px 5px;
  max-width: 330px;
  height: 370px;
  text-align: center;
  padding: 90px 25px;
//  box-shadow: 3px 8px 10px #888888;
  position: relative;
  color: #495057;
}

.justi {
  justify-content: space-around;
}

.avatar-landing {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 115px;
  // border: 1px solid #888888;
  // box-shadow: 2px 6px 5px #888888;
}

.headers {
  color: #495057;
}

