.box-challenge {
  color:white;
  height: 450px;
  margin-top: 20px !important;
  position: relative;
}

.box-challenge > p {
  margin-bottom: 20px;
}

.btn-c-cta {
  margin-top: 10px;
}

.w {
  color: white !important;
}

.btn-medium-size {
  width: 250px;
}

.box {
  border-radius: 4px;
  background-color: white;
  padding: 30px;
  margin:10px 5px;
  text-align: center;
}

.small-box {
  background: white;
  height: 300px;
  vertical-align: sub;
}

.small-box-hover {
  background: white;
  border: solid #8CC34A 2px;
  border-radius: 4px;
  height: 100px;
  margin: 4px;
  text-align: center;
}

.button-read {
  margin-bottom: 20px;
}

.data-challenge {
  flex-grow: 1;
}

h3 {
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 20px;
}

.m-bottom {
  margin-bottom: 100px;
}

.btn-green-bird-empty {
  color: #8CC34A;
  padding: 15px 35px;
  border: 1px solid #8CC34A;
  border-radius: 4px;
  background: transparent;
  transition: 0.3s ease;
}

.btn-green-bird-empty:hover {
  background: #8CC34A;
  color: white;
  text-decoration: none;
  border: 1px solid #8CC34A;
}

.btn-green-bird-hover {
  color: #1c280c;
  padding: 15px 60px;
  border: 1px solid #1c280c;
  border-radius: 4px;
  background: #e0efce;
  transition: 0.3s ease;
  opacity: 0.8;
}

.btn-green-bird-hover:hover {
  background: #8CC34A;
  color: white;
  text-decoration: none;
  border: 1px solid #8CC34A;
  opacity: 0.95;
}

.tag {
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
  padding: 1px 8px;
  border-radius: 4px;
}

.btn-green-bird-done {
  background: #FBA870;
  padding: 15px 35px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  border: 1px solid #FBA870;
  cursor: auto;
}

.infobox {
  cursor: pointer;
}

.databox {
  cursor: pointer;
}
