<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h2 style="text-align:center">User Profile</h2>

      <div class="card-container d-flex">
        <div class="card-profile" style="width: 400px; height: 400px;">
          <%#=cl_image_tag @user.avatar_url,:class=>"card-img-top avatar-profile", crop: :fill %>
          <div class="card-body">
              <div class="row description justify-content-center">
                <div class="col-xl-12 text-center">
             <h6>A bit about me</h6>
              <p>My Bio</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-7">
      <div>
        <h2 style="text-align:center">Badges</h2>
      </div>


      <div class="d-flex flex-wrap justify-content-space-between">
        <div class="p-2 bd-highlight">
         <div class="card-badge" style="width: 100px; height: 100px;">
          <img class="avatar-profile" src="https://image.flaticon.com/icons/svg/814/814513.svg">
          <div class="card-body">
            <h7 class="card-title" style="text-align:center">Yay</h7>
          </div>
        </div>
      </div>

        <div class="p-2 bd-highlight">
          <div class="card-badge" style="width: 100px; height: 100px;">
            <div class="card-body">
              <img class="avatar-profile" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="card-badge" style="width: 100px; height: 100px;">
            <div class="card-body">
              <img class="avatar-profile" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

         <div class="p-2 bd-highlight">
          <div class="card-badge" style="width: 100px; height: 100px;">
            <div class="card-body">
              <img class="avatar-profile" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

          <div class="p-2 bd-highlight">
          <div class="card-badge" style="width: 100px; height: 100px;">
            <div class="card-body">
              <img class="avatar-profile" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

      </div>

        <h2 style="text-align:center">Achievements</h2>
            <div class="row">
            <div class="card-achievement" style="width: 600px;">
              <div class="card-body">
                <h7 class="card-title">Graph Here</h7>
                <p class="card-text">Graph Description</p>
              </div>
            </div>
          </div>
    </div>


  </div>
</div>



