<footer>
  <div class="footer-top ">
    <p>Team that created this <strong>beautiful</strong> web app:</p>
    <p><a href="https://github.com/JulietteHoisnard">Juliette</a> | <a href="https://github.com/Kolachi">Tina</a> | <a href="https://github.com/rkoerber">Rowena</a> | <a href="https://github.com/DavidSever">David</a> </p>
  </div>
  <div class="footer-bottom d-flex align-items-center justify-content-center">
    <p>® Berlin, August 2020</p>
  </div>
</footer>

