<% content_for(:navbar_class, "navbar-home" ) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-about.jpg") %>);">

  <div class="container">
    <h1><strong>Behind GreenBird</strong></h1>
    <p>Learn more about the idea and the team</p>
  </div>

</div>

<div class="container">
  <div class="section row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <h2 style="text-align: center;" class="mb-3 headers">
        The idea
      </h2>
      <div class="green-row"></div>
      <br>

      <div class="card-about shadow">
        <div class="text-steps">
          <p>For Juliette, starting a project like GreenBird was a no-brainer. She cares deeply about the environment and about creating a lasting, positive change with her work.</p>
          <br>
          <p>GreenBird aims to be an easy-to-use and rewarding experience for people who would like to do more but often don't know where to start.</p>
        </div>
      </div>

    </div>




  </div>
</div>

<div class="container">
  <div class="section">
    <h2 style="text-align: center;" class="mb-3 headers">
      The team
    </h2>
    <div class="green-row"></div>
    <br>

  </div>
</div>
