<% content_for(:navbar_class, "navbar-home" ) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-about.jpg") %>);">

  <div class="container">
    <h1><strong>Behind GreenBird</strong></h1>
    <p>Learn more about the idea and the team</p>
  </div>

</div>

<div class="arrow-container">
  <div id="scrollhint">
    <a href="#" class="arrow down" onclick="scrollDown(event)">Scrolldown</a>
  </div>
</div>

<div class="container">
  <div class="section row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <h2 style="text-align: center;" class="mb-3 headers">
        The idea
      </h2>
      <div class="green-row"></div>
      <br>

      <div class="card-about shadow">
        <div class="text-steps">
          <p>For Juliette, starting a project like GreenBird was a no-brainer. She cares deeply about the environment and about creating a lasting, positive change with her work.</p>
          <br>
          <p>GreenBird aims to be an easy-to-use and rewarding experience for people who would like to do more but often don't know where to start.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="section row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">

      <h2 style="text-align: center;" class="mb-3 headers">
        The team
      </h2>
      <div class="green-row"></div>
      <br>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="team-about shadow">
        <div class="card-contents">
          <div>
            <h3 class="number-steps">Juliette Hoisnard</h3>
            <h5>Project Manager & Lead Developer</h5>
          </div>
          <hr class="w-75">
          <div class="text-steps">
            Here is some cool and exciting text about Juliette's background and skills.
          </div>
        </div>

        <img class="img-about" src="https://ca.slack-edge.com/T02NE0241-U016AQHF6TF-7d8204dc04a9-512" alt="Juliette Hoisnard">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="team-about shadow">
        <div class="card-contents">
          <div>
            <h3 class="number-steps">Rowena Körber</h3>
            <h5>Lead Developer</h5>
          </div>
          <hr class="w-75">
          <div class="text-steps">
            Here is some cool and exciting text about Rowena's background and skills.
          </div>
        </div>

        <img class="img-about" src="https://ca.slack-edge.com/T02NE0241-U016JBJPLQL-01d9433a7fea-512" alt="Rowena Körber">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="team-about shadow">
        <div class="card-contents">
          <div>
            <h3 class="number-steps">Christina Wang</h3>
            <h5>Full-Stack Developer & Alert Expert</h5>
          </div>
          <hr class="w-75">
          <div class="text-steps">
            Here is some cool and exciting text about Christina's background and skills.
          </div>
        </div>

        <img class="img-about" src="https://ca.slack-edge.com/T02NE0241-U0165E3CGQN-f7b61d146c95-512" alt="Christina Wang">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="team-about shadow">
        <div class="card-contents">
          <div>
            <h3 class="number-steps">David Sever</h3>
            <h5>UX Expert & Lead Designer</h5>
          </div>
          <hr class="w-75">
          <div class="text-steps">
            Here is some cool and exciting text about David's background and skills.
          </div>
        </div>

        <img class="img-about" src="https://ca.slack-edge.com/T02NE0241-U0165E3MWT0-e3bb75012008-512" alt="David Sever">
      </div>
    </div>
  </div>

</div>

<div>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
  function scrollDown(e) {
    e.preventDefault()
    document.querySelector("div.container:nth-child(4)").scrollIntoView({behavior: "smooth"});
  }
</script>
