<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-greenbird.jpg") %>);">
  <div class="container">
    <h1><strong>Easy challenges for environmental positive impact</strong></h1>
    <p>Reduce your CO2 footprint on <strong>easy</strong> and <strong>fun</strong> way</p>
    <div class="buttons-div">
      <a class="btn-green-bird" href="#">Sign up</a>
      <a class="btn-green-bird" href="#">Take me to the first challange</a>
    </div>
  </div>
</div>
