<% content_for(:navbar_class, "navbar-home" ) %>
<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-greenbird.jpg") %>);">
  <div class="container">
    <h1><strong>Easy challenges for environmental positive impact</strong></h1>
    <p>Reduce your CO2 footprint on <strong>easy</strong> and <strong>fun</strong> way</p>
    <div class="buttons-div">
      <!-- <a class="btn-green-bird" href="#">Sign up</a> -->
      <%= link_to "Sign up", new_user_registration_path, class: "btn-green-bird" %>
      <!-- <a class="btn-green-bird" href="#">Take me to the first challenge</a> -->
      <%= link_to "Take me to the first challenge", challenge_path(@challenge), class: "btn-green-bird" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <h2 style="text-align: center;" class="mb-3">How can I Start?</h2>
    <div class="green-row"></div>
    <div class="row d-flex justify-content-space-between">
      <div class="col-sm-12 col-xl-3 card-lp">
        <h3># 1</h3>
        <p>Do one fun and easy challange every day</p>
      </div>
      <div class="col-sm-12 col-xl-3 card-lp">
         <h3># 2</h3>
         <p>Read interesting information about the challenges</p>
      </div>
      <div class="col-sm-12 col-xl-3 card-lp">
         <h3># 3</h3>
         <p>Get CO2 equivalent of your everyday actions</p>
      </div>
      <div class="col-sm-12 col-xl-3 card-lp">
         <h3># 4</h3>
         <p>Share challenges with friends</p>
      </div>
    </div>
  </div>

  <div class="section">
    <h2 style="text-align: center;" class="mb-3">Why people love us!</h2>

    <div class="row d-flex justi">

      <div class="col-xl-4 card-testimonial">
        <img class="avatar-landing" src="https://ca.slack-edge.com/T02NE0241-U0165E3CGQN-f7b61d146c95-512">
         <h3>Tina W</h3>
         <p>My experience with this challanges site was amazing!! Since i started to use it i bought myself tesla and became a vegan! So i love this web app! It's awesome!</p>
      </div>

      <div class="col-xl-4 card-testimonial">
         <img class="avatar-landing" src="https://ca.slack-edge.com/T02NE0241-U016AQHF6TF-7d8204dc04a9-512" alt="image of an user">
         <h3>Juliette Žužu</h3>
         <p>My experience with this challanges site was amazing!! Since i started to use it i bought myself tesla and became a vegan! So i love this web app! It's awesome!</p>
      </div>

      <div class="col-xl-4 card-testimonial">
         <img class="avatar-landing" src="https://ca.slack-edge.com/T02NE0241-U016JBJPLQL-01d9433a7fea-512" alt="image of an user">
         <h3>Rowena</h3>
         <p> My experience with this challanges site was amazing!! Since i started to use it i bought myself tesla and became a vegan! So i love this web app! It's awesome!
      </div>

    </div>
  </div>

</div>

