.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-large {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
