.btn:hover {
    color: white;
    text-decoration: none;
}

.btn {

&:hover {
color: white;
}
}

.btn-success {
  background-color: #8CC34A;
  border:none;
&:hover {
color:white;
background-color: #FBA870;
}

}
