.tag_home {
background-color: #8CC34A;
z-index: 1;
}

.tag_zero_waste {
  background-color: #183059;
  z-index: 1;
}

.tag_transport {
  background-color: #FBA870;
  z-index: 1;
}

.tag_civic_action {
  background-color: #9fbbcc;
  z-index: 1;
}

.tag_food {
  background-color: #EA526F;
  z-index: 1;
}