.tag_home {
background-color: #8CC34A;
}

.tag_zero_waste {
  background-color: #FBA870;
}

.tag_transport {
  background-color: rgb(112, 188, 251);
}

.tag_civic_action {
  background-color: rgb(188, 112, 251);
}

.tag_food {
  background-color: rgb(249, 251, 112);
}