.tag_home {
background-color: #8CC34A;
z-index: 1;
}

.tag_zero_waste {
  background-color: #FBA870;
  z-index: 1;
}

.tag_transport {
  background-color: rgb(112, 188, 251);
  z-index: 1;
}

.tag_civic_action {
  background-color: rgb(188, 112, 251);
  z-index: 1;
}

.tag_food {
  background-color: rgb(245, 75, 75);
  z-index: 1;
}