.navbar-lewagon {
  justify-content: space-between;
  background: #8CC34A;
}

.navbar-home {
  position: absolute;
  background: transparent;
  width: 100%;
  box-shadow: none;
  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
