.section {
  padding-top: 90px;
  padding-bottom: 40px;
}

.green-row {
  width: 100%;
  height: 4px;
  background: #8CC34A;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .section {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}