.users-container {
}

.users-list {
  max-width: 700px;
  margin: auto;
}

.user-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: solid 1px #183059;
}

.block-left {
  display: flex;
}

.fa-user-plus {
  font-size: 30px;
  color: #183059;
}