.avatar-profile {
  width:40px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 25px;
}

.card-profile {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 10px 5px;
  max-width: 330px;
  height: 400px;
  text-align: center;
  padding: 90px 25px;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}


.card-achievement {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 10px 5px;
  width: 600px;
  height: 400px;
  text-align: center;
  padding: 90px 25px;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}

.card-badge {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}



