.earth-logo {
  width:60px;
  height: 60px;
  object-fit: cover;
  border: white 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 25px;
}

.card-profile {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 20px 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}


.card-achievement {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 10px 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 90px 25px;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}

.card-badge {
  border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: 3px 8px 10px #888888;
  position: relative;
}

h2 {
  margin-top: 30px;
}

.margin-button-edit {
  margin-bottom: 20px;
}