.earth-logo {
  width:60px;
  height: 60px;
  margin: 4px 0;
  object-fit: cover;
  border: white 1px solid;
  border-radius: 50%;
}

.avatar-user-profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: 110px;
  border: 5px solid white;
}

.card-profile {
  // border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 85px 20px 0 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 50px 25px 55px 25px;
  // box-shadow: 2px 5px 6px #888888;
  position: relative;
  height: 439px;
}


.card-graph {
  // border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 85px 5px 0px 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px 15px;
  // box-shadow: 3px 8px 10px #888888;
  position: relative;
}

.p-user {
  color: #828282;
  font-size: 14px;
}

.card-badges {
  // border: 1px solid #989898;
  background: white;
  border-radius: 4px;
  margin: 20px;
  height: 100%;
  width: 100%;
  padding: 30px 25px;
  // box-shadow: 2px 5px 6px #888888;
  text-align: center;
}

.opacity {
  opacity: 0.25;
}

.counter-co2 {
  font-size: 50px;
  margin: 10px;
}

.friends-section {
  background: white;
  border-radius: 4px;
  margin: 20px 5px;
  text-align: center;
  width: 100%;
  // box-shadow: 2px 5px 6px #888888;
  text-align: center;
  padding: 25px 10px;
}

.friend-card {
  // background: #F4F4F4;
  padding: 20px;
  // margin:10px;
  border-radius: 10px;
}

.friend-card:hover {
  background: #F4F4F4;
}

.no-p {
  padding: 5px;
}

.avatar-friend-card {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  // position: absolute;
  // top: -50px;
  // left: 110px;
  border: 5px solid white;
}

.card-title-badge {
  margin: 0.75rem 1rem;
  font-size: smaller;
  display: flex;
  align-items: center;
}

.list-badges {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 30px;
}

.margin-button-edit {
  margin-bottom: 20px;
}

.graphs {
  display: flex;
  justify-content: center;
}

.card-buttons {
  margin-top: 1rem;
}
