.top-banner {
  text-align: center;
  position: relative;
  margin: 70px 0 0px 0;
  padding: 35px 0 0 0;
  border-radius: 4px;
  height: 100px;
}

.border-h3 {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #495057;
}

.circle-nr {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background-color: #8dc34a;
  margin-left: 75px;
}

.rankings-container {
  margin: 0px 0 120px 0 !important;
  display: flex;
  justify-content: space-between;
}

.ranking-card {
  height: 200px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  width: 170px;
  flex: 1 0 auto;
  text-align: center;
  vertical-align: sub;
}

.margin-ranking-card {
  margin-right: 20px;
}

.number {
  font-size: 40px;
  color: white;
  text-align: center;
}

.emoji  {
  font-size: 30px;
}

.color1 {
  color: white;
  background-color: #183059;
}

.color2 {
  color: white;
  background-color: #FBA870;
}

.color3 {
  color: white;
  background-color:#EA526F;
}

.color4 {
  color: white;
  background-color:#8dc34a;
}

.white-color {
  border-top: 1px solid rgba(255, 255, 255, 0.479);
}

.bottom-box {
  display: flex;
  justify-content: space-between;
}

.not-caroussel {
  padding: 30px;
  background: rgb(98, 100, 96);
  color: white;
  text-align: center;
}

.half-bottom {
  border-radius: 4px !important;
  margin: 20px 0 !important;
  flex: 0 0 auto !important;
  width: 49% !important;
  position: relative;
}

.containerchallenge {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  padding-bottom: 20%;
  text-shadow: 6px 6px 10px #080808;
}

.avatar-banner {
  border: 5px solid white;
}

.carousel-caption {
  text-shadow: 4px 4px 8px #080808;
  padding-bottom: 23%;
}

.carousel-inner {
  border-radius: 4px;
}

.carousel-item-next {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) !important;
}

.carousel-item:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.carousel-item img{
  display:block;
}


#sad-box {
  background-image: image-url('saddog2.jpg');
  height: 380px;
  background-size: cover;
  text-shadow: 2px 2px 8px grey;
}

#sad-box h2 {
  text-align: center;
  color: #4c4c57;
}

#done-box {
  background-image: image-url('alldone.jpg');
  background-size: cover;
  text-shadow: 2px 2px 8px darkgrey;
}

#done-box h2 {
  color: #4c4c57;
  margin-top: 80px;
}

#wait-box {
  background-image: image-url('wait.jpg');
  background-size: cover;
  text-shadow: 2px 2px 8px #080808;
}

#wait-box h2 {
  margin-top: 80px;
}

@media screen and (max-width: 720px) {
  .bottom-box {
    flex-direction: column;
  }

  .half-bottom {
    width: 100% !important;
  }

  .rankings-container {
    flex-direction: column;
  }

  .ranking-card {
    width: 100%;
    margin-top: 20px;
  }

  .carousel-caption {
    top: 0px !important;
  }

  #done-box h2 {
    color: #4c4c57;
    margin-top: 40px;
  }

  .number {
    font-size: 30px;
  }
}