.top-banner {
  text-align: center;
  border: solid #8CC34A 1px;
  position: relative;
  margin: 50px 0 20px 0;
  padding: 35px 0 0 0;
  background: white;
  border-radius: 4px;
  box-shadow: 3px 8px 10px #888888;
}

.rankings-container {
  display: flex;
  justify-content: space-between;
}

.ranking-card {
  padding: 20px;
  border: solid #8CC34A 1px;
  background: white;
  border-radius: 4px;
  width: 200px;
  flex: 1 0 auto;
  text-align: center;
  box-shadow: 3px 8px 10px #888888;
}

.margin-ranking-card {
  margin-right: 20px;
}

.bottom-box {
  display: flex;
  justify-content: space-between;
}

// similar to class small-box in clallenges _show
.half-bottom {
  border-radius: 4px;
  padding: 30px;
  margin: 30px 0;
  flex: 0 0 auto;
  width: 49%;
  box-shadow: 3px 8px 10px #888888;
}

.half-bottom-left {
  border: solid #8CC34A 1px;
  background: white;
  color: black;

}

.half-bottom-right {
  background: purple;
  color:white;

}

.avatar-banner {
  // position: absolute;
  // top: -35px;
  box-shadow: 3px 8px 10px #888888;
}